@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: 255 255 255;
    --color-text: 0 0 0;
  }

  .dark {
    --color-bg: 18 18 18;
    --color-text: 255 255 255;
  }
}

@layer base {
  body {
    @apply bg-[rgb(var(--color-bg))] text-[rgb(var(--color-text))];
  }
}